ul.menu {
	line-height: 2em;
}

.menu, .menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

.menu a {
	text-decoration: none;
}

.menu > li > a {
	padding: 0px .5em;
	margin: 0;
	width: 100%;
	text-decoration: none;
	color: white;
}

div.box {
	position: absolute;
	z-index: -1;
	background-color: #777;
	left: 0;
	top: 0;
	border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	-webkit-border-radius: 4px 4px 0px 0px;
}

li.pull-down {
	padding-right: 6px;
}

li.pull-down > a {
	background-image: url('../images/darrow.png');
	background-position: 96% 75%;
	background-repeat: no-repeat;
	padding-right: 20px;
}

li.right-menu > a {
	background-image: url('../images/rarrow.png');
	background-position: 97% 45%;
	background-repeat: no-repeat;
}

.menu a.selected {
	background-color: #777;
	border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	-webkit-border-radius: 0px 4px 4px 4px;
}

.menu li {
	float: left;
	position: relative;
}

.menu ul {
	position: absolute;
	display: none;
	width: 200px;
	top: 2.5em;
	/*padding-right: 10px;*/
	background-color: #777;
	/*-moz-opacity: .50;
	filter: alpha(opacity=50);
	opacity: .50;*/
	border-radius: 0px 4px 4px 4px;
	-moz-border-radius: 0px 4px 4px 4px;
	-webkit-border-radius: 0px 4px 4px 4px;
}

.menu li ul a {
	width: 180px;
	height: auto;
	float: left;
	color: #FFFEFD;
	padding: 0 10px;
}

.menu li ul li {
	padding: 0;
	margin: 0;
}

.menu ul ul {
	top: auto;
}

.menu li ul ul {
	left: 198px;
	/*margin: 0px 0 0 10px;*/
}

.menu-item-selected > a {
	background-color: #FFFEFD;
	-moz-opacity: .50;
	filter: alpha(opacity=50);
	opacity: .50;
}

.menu-item-selected > a:hover {
	color: #257E84 !important;
}

.menu li.hr {
	height: 1px;
	background-color: #999;
	width: 100%;
}
