body {
	margin: 0;
	background-color: black;
	overflow: hidden;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	color: white;
}

#content, #world {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.error {
	color: red;
}

/*
Code adapted from Christofer Vilander and Roobyx
http://stackoverflow.com/questions/13014808/is-there-anyway-to-animate-an-ellipsis-with-css-animations
*/

.marchingEllipsis > span {
    opacity: 0;
    -webkit-animation: marchingEllipsis 1s infinite;
    animation: marchingEllipsis 1s infinite;
}

.marchingEllipsis > span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.marchingEllipsis > span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes marchingEllipsis {
      0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes marchingEllipsis {
      0% { opacity: 1; }
    100% { opacity: 0; }
}
