/********************************
*********************************
** Global
*********************************
********************************/

#page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
}

#left, #right {
	display: inline-block;
	border: solid 1px white;
}

/********************************
*********************************
** Left
*********************************
********************************/

#left {
	margin-top: 1em;
	margin-left: 1em;
	height: calc(100% - 2em - 2px);
	width: calc(100% - 19em - 4px);
	float: left;
}

#players {
	margin-top: 1em;
	margin-left: 1em;
	height: calc(100% - 15em - 4px);
	width: calc(100% - 2em - 2px);
	
	border: solid 1px white;
}

/********************************
** Chat
********************************/

#chat {
	margin-top: 1em;
	margin-left: 1em;
	height: calc(12em - 2px);
	width: calc(100% - 2em - 2px);
	
	border: solid 1px white;
}

#log {
	padding: .5em;
	height: calc(100% - 2.75em);
	
	overflow-y: auto;
	overflow-x: hidden;
	word-wrap: break-word;
}

#log > div {
	padding-left: 1em;
	text-indent: -1em;
}

#log .account {
	color: yellow;
}

#log .server {
	color: skyblue;
}

#log .server.online {
	font-weight: bold;
}

#log .whisper {
	color: darkkhaki;
}

#log .whisper .message {
	color: lime;
}

#log .join {
	color: lime;
}

#log .leave {
	color: lime;
}

#chatInput {
	background-color: black;
	color: white;
	font-size: 1em;
	padding: .25em;
	height: 1.25em;
	border: solid 1px white;
	margin: -1px;
	outline: none;
	width: calc(100% - .5em);
}

/********************************
*********************************
** Right
*********************************
********************************/

#right {
	margin-top: 1em;
	margin-left: 1em;
	height: calc(100% - 2em - 2px);
	width: calc(16em - 2px);
}

#map {
	margin-top: .5em;
}

#mapTitle {
	text-align: center;
	font-weight: bold;
}

#mapImageContainer {
	height: 16em;
}

#mapImage {
	max-width: 100%;
	max-height: 16em;
}

#mapSelection {
	background-color: black;
	color: white;
	width: calc(100% - 2em);
	margin-left: 1em;
	outline: none;
	height: calc(100% - 26em);
}

#mapSelection option {
	color: gray;
}

#mapSelection option:selected {
	font-weight: bold;
}

#options {
	margin-top: 1em;
}

#options input {
	background-color: black;
	color: white;
	border: solid 1px white;
	margin-left: 1em;
	padding: .25em 1em;
	width: calc(6.5em - 3px);
	font-size: 1em;
	outline: none;
}