/********************************
*********************************
** Global
*********************************
********************************/

body > .Game {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	overflow: hidden;
}

body > .Game > .shield {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 1000;	/* No elements should go above this... */
	
	background: rgba(0, 0, 0, 0.6);
}

body > .Game > .shield > div {
	position: relative;
	margin: auto;
	width: 15em;
	height: 6em;
	top: calc(50% - 4em);
	
	text-align: center;
}

body > .Game .disabled {
	color: gray;
}

body > .Game .hoverglow:hover {
	text-shadow: .1em	.1em	.2em white,
				.1em	-.1em	.2em white,
				-.1em	.1em	.2em white,
				-.1em	-.1em	.2em white;

	cursor: pointer;
}

/********************************
** UI
********************************/

#gameUI {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/********************************
** Protocol
********************************/

#gameOwner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	text-align: left;
	background: #333;
}

#gameTitle {
	position: absolute;
	left: .5em;
	top: 0;
	width: 15em;
}

#gameCard {
	position: absolute;
	left: 1em;
	top: 4em;
	width: 30em;
	height: calc(100% - 7em);
}

#gameCard > img {
	position: relative;
	width: 30em;
	height: 15em;
}

#gameCard > .left {
	position: absolute;
	left: 0;
	width: 50%;
}

#gameCard > .right {
	position: absolute;
	right: 0;
	width: 50%;
}

#gameCard > div > div > span:first-child {
	font-weight: bold;
}

#gamePDescription {
	position: relative;
	top: 2.5em;
	height: calc(100% - 21em);
	overflow: hidden;
}

#gameSelect {
	position: absolute;
	
	bottom: 1em;
	left: 1em;
	
	border: none;
	outline: none;
	background: #555;
	color: white;
	font-weight: bold;
	padding: .5em 1em;
}

#gameSelect:hover {
	background-color: #999;
	cursor: pointer;
}

#gameSearch {
	position: absolute;
	right: .5em;
	top: .5em;
}

#gameSearchInput {
	padding: .5em;
	border: none;
	width: 20em;
	outline: none;
	float: left;
}

#gameSearch > img {
	width: 2em;
	height: 2em;
	float: right;
	padding-left: .5em;
}

#gameProtocolsContainer {
	position: absolute;
	top: 4em;
	left: 32em;
	height: calc(100% - 7em);
	width: calc(100% - 33em);
	
	overflow: hidden;
}

#gameProtocols {
	height: 100%;
	width: 100%;
	
	overflow-y: scroll;
	padding-right: 17px;
}

#gameProtocols > div {
	float: left;
	width: 8em;
	height: 12em;
	overflow: hidden;
	
	padding: 0 1em 1em 0;
}

#gameProtocols > div:hover, #gameProtocols > div.selected{
	text-shadow: .1em	.1em	.2em #ccc,
				.1em	-.1em	.2em #ccc,
				-.1em	.1em	.2em #ccc,
				-.1em	-.1em	.2em #ccc;
	
	cursor: pointer;
}

#gameProtocols > div > div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	padding-left: .2em;
	
	color: #ddd;
	font-size: 80%;
}

#gameProtocols > div > div:nth-child(2) {
	color: white;
	font-size: 100%;
}

#gameProtocols > div > img {
	width: 8em;
	height: 8em;
}

#gameForceRefresh {
	position: absolute;
	bottom: .5em;
	right: .5em;
}

#gameForceRefresh > span {
	float: left;
}

#gameForceRefresh > img {
	width: 1.5em;
	height: 1.5em;
	float: right;
	padding-left: .5em;
}