/********************************
*********************************
** Global
*********************************
********************************/

body > .Game {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

body > .Game > .shield {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	z-index: 1000;	/* No elements should go above this... */
	
	background: rgba(0, 0, 0, 0.6);
}

body > .Game > .shield > div {
	position: relative;
	margin: auto;
	width: 15em;
	height: 6em;
	top: calc(50% - 4em);
	
	text-align: center;
}


/********************************
** Menu
********************************/

body > .Game .hoverglow:hover {
	text-shadow: .1em	.1em	.2em white,
				.1em	-.1em	.2em white,
				-.1em	.1em	.2em white,
				-.1em	-.1em	.2em white;

	cursor: pointer;
}