/**************************************
**	General
***************************************/

.Home {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Home .menu {
	position: relative;
	margin: auto;
	width: 15em;
	height: 17em;
	top: calc(50% - 8.5em);
}

.Home .menu > p {
	text-align: center;
	cursor: default;
	color: gray;
}

.Home .menu .nova {
	font-size: 4em;
	margin: .25em 0;
}

.Home .menu > input {
	outline: none;
}

.Home .menu > p.hoverglow:hover {
	text-shadow: .1em	.1em	.2em white,
				.1em	-.1em	.2em white,
				-.1em	.1em	.2em white,
				-.1em	-.1em	.2em white;

	cursor: pointer;
}

.Home .menu > p.hoverglow {
	color: white;
}

.Home .settings {
	position: absolute;
	bottom: 1em;
	right: 1em;
	
	background-image: url('settings.png');
	background-size: 1.5em 1.5em;
	
	height: 1.5em;
	width: 1.5em;
}

.Home .settings:hover {
	background-image: url('settings2.png');
	
	cursor: pointer;
}

.Home input {
	outline: none;
}

.Home .shield {
	position: absolute;
	top: -32em;
	bottom: -32em;
	right: 0;
	left: 0;
	
	background: rgba(0,0,0,.6);
}

.Home .prompt {
	position: absolute;
	height: 1em;
	top: calc(50% - .5em);
	width: 10em;
	left: calc(50% - 5em);
	
	text-align: center;
}

/**************************************
**	Login window
***************************************/

.Home .login {
	position: absolute;
	left: 0;
	right: 0;
	height: 32em;
	top: calc(50% - 16em);
	
	border: white solid 0;
	border-top-width: .1em;
	border-bottom-width: .1em;
	
	background-color: #333;
}

@media screen and (max-width: 500) {
body {
	background: red;
	color: green;
	font-size: 500%;
}
}

.Home .container {
	position: absolute;
	
	padding: 1em;
	
	width: 30em;
	height: calc(100% - 2em);
	
	left: calc(50% - 16em);
}

.Home .container label, .Home .username, .Home .password {
	display: block;
}

.Home .container input {
	padding: .5em;
	border: none;
	width: 20em;
	margin-bottom: 1.5em;
}

.Home .error {
	display: none;
}

.Home .buttons {
	position: absolute;
	
	right: 1em;
	bottom: 1em;
}

.Home .buttons input {
	
	width: 7em;
	padding: .5em 1em;
	
	border: white solid .2em;
	
	font-weight: bold;
	color: white;
	
	cursor: pointer;
}

.Home .next {
	background-color: #555;
}

.Home .cancel {
	background-color: black;
	
	position: relative;
	left: 1.5em;
}

/**************************************
**	Settings Panel
***************************************/

.Home .settingsPanel {
	position: absolute;
	width: 16em;
	right: -18.1em;
	top: 0;
	bottom: 0;
	
	border-left: .1em white solid;
	
	padding: 1em;
}

.Home .settingsPanel input[type="text"] {
	padding: .5em;
	border: none;
	width: calc(100% - 1em);
}