<div id="lobbyList" class="list"></div>
<p>
	<input var="lobbyJoinText" type="text" placeholder="join lobby">
	<input var="lobbyJoinButton" type="button" value="Join" tabindex="-1" />
</p>
<p>
	<input var="lobbyCreateText" type="text" placeholder="create lobby">
	<input var="lobbyCreateButton" type="button" value="Create" tabindex="-1" /><br>
	<span class="lobbyCurrentHost">
		(current host:
		<span id="lobbyCurrentHost" contenteditable spellcheck="false" class="invalid">none</span>
		)
		<span var="lobbySuggestions" class="suggestions"></span>
	</span>
</p>
