<div class="control">
	<div class="group tab">
		<input var="groupRadio" id="groupRadio" type="radio" name="tabs" checked />
		<label for="groupRadio">
			<img src="src/Core/Pages/Portal/images/group.png" />
			<span var="groupHeader">Group</span>
		</label>
		
		<div var="groupContent" class="tabContent"></div>
	</div>
	<div class="lobby tab">
		<input var="lobbyRadio" id="lobbyRadio" type="radio" name="tabs" />
		<label for="lobbyRadio">
			<img src="src/Core/Pages/Portal/images/lobby.png" />
			<span>Lobbies</span>
		</label>
		
		<div var="lobbyContent" class="tabContent"></div>
	</div>
	<div class="friends tab">
		<input var="friendRadio" id="friendRadio" type="radio" name="tabs" />
		<label for="friendRadio">
			<img src="src/Core/Pages/Portal/images/friends.png" />
			<span>Friends</span>
		</label>
		
		<div var="friendContent" class="tabContent"></div>
	</div>
	<div class="tab">
		<input var="clanRadio" id="clanRadio" type="radio" name="tabs" />
		<label for="clanRadio">
			<img src="src/Core/Pages/Portal/images/clan.png" />
			<span>Clan</span>
		</label>
		
		<div var="clanContent" class="tabContent">test4</div>
	</div>
</div>