#world {
	width: 100%;
	height: 100%;
	background: gray;
}

#preview {
	width: 100%;
	height: 100%;
	background: gray;
}

.webix_tree_close,
.webix_tree_open,
.webix_tree_none {
	position: relative !important;
	bottom: 5px !important;
	right: 4px !important;
	width: 13px !important;
	
	background-color: red;
}