
body {
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	
	font-family: Arial;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.caret {
	border-top: 4px solid #aaa;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
}

/******************************************************************************
 ******************************************************************************
 *	Menu
 ******************************************************************************
 ******************************************************************************/

#menu {
	display: block;
	height: 2em;
	
	position: relative;
	z-index: 2;
	
	color: dimgray;
	line-height: 1;
}

#menu ul {
	padding: 0;
	margin: 0;
}

#menu > ul {
	white-space: nowrap;
}

#menu > ul > li {
	padding: 0.5em 1em;
	white-space: normal;
}

#menu li {
	display: inline-block;
	position: relative;
	list-style-type: none;
	background-color: white;
}

#menu li > a {
	white-space: nowrap;
}

#menu li > a > input[type='checkbox'] {
	margin-left: -1.5em;
}

#menu ul ul {
	position: absolute;
	display: none;
	box-shadow: 0 0 0.25em 0 #ddd;
}

#menu ul ul > li {
	width: calc(100% - 2em);
}

#menu ul ul > li:not(.hr) {
	padding: 0.5em 0.5em 0.5em 2em;
}

#menu li.hr {
	display: block;
	border-top: 0.1em solid #ddd;
	padding: 0 1.25em;
}

#menu > ul > li > ul {
	margin-top: 0.5em;
	margin-left: -1em;
}

#menu li:hover {
	background-color: #eee;
	cursor: pointer;
}

#menu li:hover > a > span.caret {
	transform: rotate(-45deg);
}

#menu li:hover > ul {
	display: block;
}

#menu ul ul ul {
	left: 100%;
	top: 0;
}

#menu li:hover > ul {
	display: block;
}

#menu li! > ul {
	background-color: red;
}

#menu ul ul > li[data-enabled]:before {
	content: '';
	position: absolute;
	width: 0.5em;
	height: 0.25em;
	background: transparent;
	top: 0.75em;
	left: 0.5em;
	border: 0.2em solid lightgray;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#menu ul ul > li[data-enabled=true]:before {
	border-color: gray;
}

/******************************************************************************
 ******************************************************************************
 *	Content
 ******************************************************************************
 ******************************************************************************/

#content {
	height: calc(100% - 3.25em);
	overflow: hidden;
	
	border: solid #ddd;
	border-width: 1px 0;
	
	white-space: nowrap;
}

#content > div {
	display: inline-block;
	height: 100%;
	vertical-align: top;
}

/******************************************************************************
 *	Left
 ******************************************************************************/

#left > div.spacer {
	position: relative;
	height: 16em;
	width: 0;
	left: 16em;
	border-right: 1px solid #ddd;
}

#properties {
	height: calc(100% - 16em - 1px);
	position: relative;
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	width: 16em;
	background-color: white;
}

#preview {
	width: 16em;
	height: 16em;
	background: gray;
}

/******************************************************************************
 *	Center
 ******************************************************************************/

#box {
	width: calc(100% - 14em - 2px);
	
	margin-left: calc(-16em - 1px);
	border: solid #ddd;
	border-width: 0 1px 0 0;
}

#world {
	background: gray;
}

/******************************************************************************
 *	Right
 ******************************************************************************/

#right {
	width: 14em;
	overflow-y: auto;
	overflow-x: hidden;
	white-space: normal;
}

#right > div + div {
	
	margin-top: 1em;
}

#right > div > label {
	border-bottom: 1px solid #eee;
}

#right > div > input {
	display: none;
}

#right > div > input ~ label {
	display: block;
	padding: 0.25em 0.5em;
}

#right > div > input ~ div {
	display: none;
}

#right > div > input:checked ~ div {
	display: block;
}

#right > div > input:checked ~ label > .caret {
	transform: rotate(-45deg);
}

#right fieldset {
	border: 1px solid #eee;
}

#right fieldset.hideRadios > input[type=radio] {
	display: none;
}

#right fieldset.hideRadios > label > img {
	border: 0.2em inset lightgray;
}

#right fieldset.hideRadios > input[type=radio]:checked + label > img {
	border-color: lightblue;
}

#right img {
	max-height: 2.5em;
}

#right > div > div > fieldset > input[type=number] {
	width: 100%;
}

/******************************************************************************
 ******************************************************************************
 *	Status
 ******************************************************************************
 ******************************************************************************/

#status {
	height: 1.25em;
	font-size: 90%;
}
