.Editor {
	color: white;
	background-color: #222;
	
	position: absolute;
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	font-size: 80%;
	font-family: Verdana, Arial, sans-serif;
}

.Editor .ui-layout-south, .Editor .ui-layout-east, .Editor .ui-layout-west {
	background-color: #444;
}

.Editor .ui-layout-north {
	background-color: #555;
}

.Editor .ui-layout-resizer {
	background-color: #111;
}
.Editor .ui-layout-toggler {
	background-color: #555;
}

/********************************
*********************************
** Menu
*********************************
********************************/

.Editor li.menucheck label {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.Editor li.menucheck input {
	position: absolute;
	right: 0;
	top: calc(50% - 9px);
}

/********************************
*********************************
** East windows
*********************************
********************************/

.Editor .ui-layout-east .ui-widget {
	font-size: 100%;
}

.Editor .ui-layout-east .ui-tabs {
	padding: 0;
	border: 0;
	color: white;
	background: #555;
}

.Editor .ui-layout-east .ui-widget-header {
	background: #444;
	border: none;
}

.Editor .ui-layout-east .ui-tabs-nav {
	padding: 0;
}

.Editor .ui-layout-east .ui-tabs-nav li {
	margin: 0;
	padding: 0;
	border: solid 1px #111;
	border-radius: 1px;
	border-bottom: none;
	border-left: none;
}

.Editor .ui-layout-east .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
	background: #555;
}

.Editor .ui-layout-east .ui-tabs-nav .ui-tabs-anchor {
	padding: 0;
	outline: 0;
	background: #444;
	color: white;
	padding: .2em .5em;
}

.Editor .ui-layout-east .ui-tabs-panel {
	color: white;
}

/********************************
*********************************
** Dialogs
*********************************
********************************/

.Editor > .ui-dialog {
	padding: 0;
}

/********************************
** New map
********************************/

.Editor .newmap > .left {
	position: relative;
	display: inline-block;
	height: 100%;
	width: calc(100% - 9em);
	float: left;
}

.Editor .newmap .name {
	position: absolute;
	right: 0;
}

.Editor .newmap .name input {
	width: 17em;
}

.Editor .newmap .preset {
	margin-top: 2em;
}

.Editor .newmap .slider {
	padding-bottom: .5em;
}

.Editor .newmap .slider label {
	display: inline-block;
	width: 5em;
	text-align: right;
}

.Editor .newmap .slider input {
	width: 3em;
}

.Editor .newmap .slider div {
	display: inline-block;
	width: calc(100% - 10em);
	margin-left: .5em;
}

.Editor .newmap > .right {
	display: inline-block;
	height: 100%;
	width: 8em;
	float: right;
}

.Editor .newmap > .right input {
	width: 100%;
	margin-bottom: .8em;
}