
* {
    box-sizing: border-box;
}

:root {
    --blue: #19547f;
    --bluebg: rgba(70, 145, 246, 0.5);
    --blueshadow: rgba(70, 145, 246, 0.9);
    --red: 255, 0, 0;
    --redcolor: rgb(var(--red));
}

body {
    margin: 0;
	background-color: #333;
	width: 100vw;
	height: 100vh;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: black 1px 1px 0.125em;
    font-weight: bold;
    color: white;
    user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#top-right {
    position: absolute;
    top: 1em;
    right: 1em;
    flex: row;
}
#top-right > span {
    background: var(--bluebg);
    box-shadow: 0 0 1em 0.125em var(--blueshadow);
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
}
#top-right > span:empty { visibility: hidden; }

#top-right > #scores {
    display: inline-grid;
    grid-template-columns: fit-content(4em) fit-content(4em) fit-content(4em);
    color: white;
    font-weight: bold;
    border-radius: 0.5em;
    padding: 0;
}

#scores span { padding: 0.25em; }
#scores .score { text-align: right; }

#bottom-left {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

#chat-log {
    position: absolute;
    bottom: 8em;
    left: 1em;
    color: white;
    font-weight: bold;
    max-width: 20em;
    word-break: break-word;
    text-indent: -1em;
    margin-left: 1em;
    font-size: 90%;
}

#chat-log div {
    opacity: 1;
    transition: 1s;
}

#chat-log p {
    margin: 0.25em 0;
}

#chat-log > .error { color: var(--redcolor); }

input, button {
    padding: 0.5em;
    font-family: inherit;
    text-shadow: inherit;
    border: none;
    font-weight: bold;
    box-shadow: 0 0 0.125em 0.125em var(--blueshadow);
    color: white;
    font-size: 100%;
    outline: none;
    background-color: var(--bluebg);
    border-radius: 0.125em;
}

input:disabled, button:disabled {
    color: lightgray;
}

input::placeholder {
    color: white;
    /* font-weight: 600; */
    font-style: italic;
    opacity: 0.7;
}

#chat-input-container { visibility: hidden; }
#chat-input, #chat-input-suggestion {
    position: absolute;
    bottom: 4em;
    width: 90%;
    max-width: 30em;
    left: 50%;
    transform: translateX(-50%);
}
#chat-input {
    background: transparent;
    box-shadow: none;
}
#chat-input-suggestion { color: silver; }

form {
    background-color: var(--bluebg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    padding: 1em;
}

form input, form button {
    background: none;
    box-shadow: none;
    text-align: center;
    display: block;
    width: 100%;
}

form input:hover {
    box-shadow: 0 0 0.0625em 0.0625em var(--blueshadow);
}

form input:focus {
    box-shadow: 0 0 0.125em 0.125em var(--blueshadow);
}

.margin8 { margin: 8px; }
.padding8 { padding: 8px; }
.padding16 { padding: 16px; }
.spacing4 > * { margin: 4px; }
.spacing4 > :first-child { margin-top: 0; margin-left: 0; }
.spacing4 > :last-child { margin-bottom: 0; margin-right: 0; }
.v-spacing-8 > * { margin-top: 8px; margin-bottom: 8px }
.v-spacing-8 > :first-child { margin-top: 0; }
.v-spacing-8 > :last-child { margin-bottom: 0; }
.h-spacing-8 > * { margin-left: 8px; margin-right: 8px; }
.h-spacing-8 > :first-child { margin-left: 0; }
.h-spacing-8 > :last-child { margin-right: 0; }

.diagnostic {
    font-size: 80%;
    color: yellow;
}

#waiting-splash {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    background-color: var(--bluebg);
    visibility: hidden;
}

#hotkeys {
    position: absolute;
    bottom: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

#hotkeys .hotkey {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-color: var(--bluebg);
    border-radius: 0.5em;
    margin: 0 0.25em;
    text-align: center;
    cursor: pointer;
}

#hotkeys .hotkey:hover .tooltip { display: block; }

#hotkeys .key { line-height: 3em; }

#hotkeys .tooltip {
    text-align: left;
    display: none;
    position: absolute;
    top: 0;
    background-color: var(--bluebg);
    transform: translateY(calc(-100% - 0.5em));
    padding: 0.5em;
    border-radius: 0.5em;
}

#hotkeys .highlight { color: gold; }

#hotkeys .description { font-size: 75% }

button { border: 2px solid white; }
button[type="submit"] {
    background: white;
    color: var(--blue);
    text-shadow: none;
}
button:hover, button[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5em 0 black;
}
button:focus {
    box-shadow: 0 0 0.5em 0.125em var(--blueshadow);
}

.group { display: flex; }
.group--direction-horizontal { flex-direction: column; }